{% extends "base.html" %}
{% block content %}
<section>
    <h2>Pay & Benefits</h2>
    <p>Access your most recent pay stubs and benefits information below.</p>
    <h1>Recent Pay Stubs</h1>
        <ul>
            <li>11/15/2025</li>
            <li>11/01/2025</li>
            <li>10/15/2025</li>
            <li>10/01/2025</li>
        </ul>
    <h1>Health & Dental Plan</h1>
        <p>Current health plan and dental plan:</p>
        <p>Open enrollment is available 11/05/2025!</p>
    <h1>Time off</h1>
        <p>Upcoming Holidays:</p>
        <ul>
            <li>11/11/2025</li>
            <li>11/27/2025</li>
            <li>11/28/2025</li>
            <li>12/24/2025</li>
            <li>12/25/2025</li>
            <li>12/31/2025</li>
        </ul>
        <p>Contact manager for time off requests.</p>
</section>
{% endblock %}