{% extends "base.html" %}
{% block content %}
<section>
    <h2>Employee Resources</h2>
    <p>Guides, policies, and help desk links - all in one place</p>
    <h1>Company Handbook</h1>
        <p>Most recent update of company handbook available now.</p>
    <h1>IT Help Desk</h1>
        <p>555-5555</p>
        <p>helpdesk@securepath.mga.edu</p>
    <h1>Training & Development</h1>
        <ul>
            <li>Webinars</li>
            <li>Linked In learning</li>
            <li>New CE Seminars</li>
        </ul>
    <h1>Policy Documents</h1>
        <p>Archer</p>
        <p>Sharepoint</p>
</section>
{% endblock %}