{% extends "base.html" %}
{% block content %}
<section>
    <h2>Company News</h2>
    <p>Latest announcements and updates from SecureTech.</p>
    <article style="margin-top: 1rem;">
        <h3><Solid>11/01/2025:</Solid> New sustainability Initive</h3>
        <p>SecureTech is proud to be launching a new sustainability initive to reduce waste.</p>
    </article>
    <article style="margin-top: 1rem;">
        <h3><Solid>10/15/2025:</Solid> Don't miss new CE seminars</h3>
        <p>We have details on new CE seminars. Check the company resources page for more information.</p>
    </article>
    <article style="margin-top: 1rem;">
        <h3><Solid>10/01/2025:</Solid> Looking for ideas for new team building activities</h3>
        <p>We are always on the lookout for fun team building activities.Contact management if you have a fun one you want to share.</p>
    </article>
</section>
{% endblock %}