{% extends "base.html" %}
{% block content %}
<section>
    <h2>Internal Job Postings</h2>
    <p>Open internal opportunities. Contact management if you know anyone who would be a good fit.</p>
    <ul style="margin-top: 1rem;">
        <li><strong>Junior Developer:</strong> Strong coding skills, experience in devolopment, quick learner</li>
        <li><strong>Security Intern:</strong> Experience in IT security preffered</li>
        <li><strong>Social Media Manager:</strong> Strong written and communication skills, prior experience preffered</li>
    </ul>
</section>
{% endblock %}