{% extends "base.html" %}
{% block content %}
<section>
    <h2>About SecureTech</h2>
    <p>
        SecureTech Solutions was founded by a small group of students who met at
        <strong>Middle Georgia State University</strong>. Their shared passion for technology
        and protecting sensitive data inspired the creation of a company dedicated
        to solving real-world access control challanges.
    </p>
    <p>
        The company focuses on providing reliable network solutions for organizations of all sizes,
        developing systems that manage user access efficiently while protecting sensitive information.
        SecureTech Solutions works closely with clients to understand their needs and improve workflow
        security through effective, easy-to-use systems.
    </p>
</section>
{% endblock %}